{% extends 'base.html.twig' %}
{% import '_macros/alert.html.twig' as Dialog %}


{% block title %}Portfolio{% endblock %}

{% block body %}
    <header>
        <h1>Angélique Dehainaut</h1>
        <div id="icon">
            <a href="https://github.com/Angelique59212?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/ang%C3%A9lique-dehainaut-89ab49223" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <p>Développeuse Web FullStack</p>
        <p>Conceptrice Développeuse d'Application</p>
    </header>
    <div id="home">
        <p>Développeuse passionnée et rigoureuse, à l'écoute de votre demande pour réaliser votre site web.</p>
    </div>
{% endblock %}
